In [1]:
#Import librarys

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [19]:
#Import data frame

museum_df = pd.read_csv("museums.csv", low_memory=False)
display(museum_df)

,Museum ID,Museum Name,Legal Name,Alternate Name,Museum Type,Institution Name,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
0,8400200098,ALASKA AVIATION HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,4721 AIRCRAFT DR,ANCHORAGE,AK,99502,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
1,8400200117,ALASKA BOTANICAL GARDEN,ALASKA BOTANICAL GARDEN INC,NaN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",NaN,4601 CAMPBELL AIRSTRIP RD,ANCHORAGE,AK,99507,...,61.16890,-149.76708,4.0,20.0,2.0,6,920115504,201312.0,1379576.0,1323742.0
2,8400200153,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,NaN,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,NaN,9711 KENAI SPUR HWY,KENAI,AK,99611,...,60.56149,-151.21598,3.0,122.0,2.0,6,921761906,201312.0,740030.0,729080.0
3,8400200143,ALASKA EDUCATORS HISTORICAL SOCIETY,ALASKA EDUCATORS HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,214 BIRCH STREET,KENAI,AK,99611,...,60.56280,-151.26597,3.0,122.0,2.0,6,920165178,201412.0,0.0,0.0
4,8400200027,ALASKA HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,301 W NORTHERN LIGHTS BLVD,ANCHORAGE,AK,99503,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33067,8405600184,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 73,SHERIDAN,WY,82801,...,44.82345,-106.87592,4.0,33.0,56.0,5,836007540,NaN,NaN,NaN
33068,8405600061,WYOMING STATE MUSEUM,WYOMING STATE MUSEUM VOLUNTEERS INC,NaN,GENERAL MUSEUM,NaN,2301 CENTRAL AVENUE,CHEYENNE,WY,82001,...,41.13941,-104.81813,1.0,21.0,56.0,5,237368629,201404.0,0.0,0.0
33069,8405600158,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION INC,NaN,HISTORIC PRESERVATION,NaN,1273 N 15TH ST STE 121,LARAMIE,WY,82072,...,41.32276,-105.57686,3.0,1.0,56.0,5,830318392,201312.0,208508.0,83981.0
33070,8405600137,WYOMING TRANSPORTATION MUSEUM,WYOMING TRANSPORTATION MUSEUM CORP,NaN,HISTORY MUSEUM,NaN,PO BOX 704,CHEYENNE,WY,82003,...,41.13010,-104.81916,1.0,21.0,56.0,5,830295570,201309.0,0.0,0.0
33071,8405600199,YELLOWSTONE NATIONAL PARK,LITTLE PEOPLE LEARNING CENTER INC,NaN,HISTORIC PRESERVATION,NaN,NATIONAL PARK SERVICE,YELLOWSTONE NATIONAL PARK,WY,82190,...,44.91303,-110.41584,4.0,29.0,56.0,5,830249072,201312.0,127496.0,126762.0

In [11]:
#Data Types
museum_df.dtypes

Museum ID                                     int64
Museum Name                                  object
Legal Name                                   object
Alternate Name                               object
Museum Type                                  object
Institution Name                             object
Street Address (Administrative Location)     object
City (Administrative Location)               object
State (Administrative Location)              object
Zip Code (Administrative Location)           object
Street Address (Physical Location)           object
City (Physical Location)                     object
State (Physical Location)                    object
Zip Code (Physical Location)                float64
Phone Number                                 object
Latitude                                    float64
Longitude                                   float64
Locale Code (NCES)                          float64
County Code (FIPS)                          float64
State Code (FIPS)                           float64
Region Code (AAM)                             int64
Employer ID Number                           object
Tax Period                                  float64
Income                                      float64
Revenue                                     float64
dtype: object

In [20]:
#Describe data
museum_df.describe

<bound method NDFrame.describe of         Museum ID                                        Museum Name  \
0      8400200098                    ALASKA AVIATION HERITAGE MUSEUM
1      8400200117                            ALASKA BOTANICAL GARDEN
2      8400200153  ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...
3      8400200143                ALASKA EDUCATORS HISTORICAL SOCIETY
4      8400200027                             ALASKA HERITAGE MUSEUM
...           ...                                                ...
33067  8405600184                   WYOMING STATE HISTORICAL SOCIETY
33068  8405600061                               WYOMING STATE MUSEUM
33069  8405600158      WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION
33070  8405600137                      WYOMING TRANSPORTATION MUSEUM
33071  8405600199                          YELLOWSTONE NATIONAL PARK

                                              Legal Name Alternate Name  \
0                        ALASKA AVIATION HERITAGE MUSEUM            NaN
1                            ALASKA BOTANICAL GARDEN INC            NaN
2      ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...            NaN
3                    ALASKA EDUCATORS HISTORICAL SOCIETY            NaN
4                        ALASKA AVIATION HERITAGE MUSEUM            NaN
...                                                  ...            ...
33067                   WYOMING STATE HISTORICAL SOCIETY            NaN
33068                WYOMING STATE MUSEUM VOLUNTEERS INC            NaN
33069  WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION INC            NaN
33070                 WYOMING TRANSPORTATION MUSEUM CORP            NaN
33071                  LITTLE PEOPLE LEARNING CENTER INC            NaN

                                         Museum Type Institution Name  \
0                                     HISTORY MUSEUM              NaN
1      ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER              NaN
2         SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM              NaN
3                              HISTORIC PRESERVATION              NaN
4                                     HISTORY MUSEUM              NaN
...                                              ...              ...
33067                          HISTORIC PRESERVATION              NaN
33068                                 GENERAL MUSEUM              NaN
33069                          HISTORIC PRESERVATION              NaN
33070                                 HISTORY MUSEUM              NaN
33071                          HISTORIC PRESERVATION              NaN

      Street Address (Administrative Location) City (Administrative Location)  \
0                             4721 AIRCRAFT DR                      ANCHORAGE
1                    4601 CAMPBELL AIRSTRIP RD                      ANCHORAGE
2                          9711 KENAI SPUR HWY                          KENAI
3                             214 BIRCH STREET                          KENAI
4                   301 W NORTHERN LIGHTS BLVD                      ANCHORAGE
...                                        ...                            ...
33067                                PO BOX 73                       SHERIDAN
33068                      2301 CENTRAL AVENUE                       CHEYENNE
33069                   1273 N 15TH ST STE 121                        LARAMIE
33070                               PO BOX 704                       CHEYENNE
33071                    NATIONAL PARK SERVICE      YELLOWSTONE NATIONAL PARK

      State (Administrative Location) Zip Code (Administrative Location)  ...  \
0                                  AK                              99502  ...
1                                  AK                              99507  ...
2                                  AK                              99611  ...
3                                  AK                              99611  ...
4                                  AK                              99503  ...
...                               ...                                ...  ...
33067                              WY                              82801  ...
33068                              WY                              82001  ...
33069                              WY                              82072  ...
33070                              WY                              82003  ...
33071                              WY                              82190  ...

       Latitude  Longitude Locale Code (NCES)  County Code (FIPS)  \
0      61.17925 -149.97254                1.0                20.0
1      61.16890 -149.76708                4.0                20.0
2      60.56149 -151.21598                3.0               122.0
3      60.56280 -151.26597                3.0               122.0
4      61.17925 -149.97254                1.0                20.0
...         ...        ...                ...                 ...
33067  44.82345 -106.87592                4.0                33.0
33068  41.13941 -104.81813                1.0                21.0
33069  41.32276 -105.57686                3.0                 1.0
33070  41.13010 -104.81916                1.0                21.0
33071  44.91303 -110.41584                4.0                29.0

      State Code (FIPS)  Region Code (AAM)  Employer ID Number  Tax Period  \
0                   2.0                  6           920071852    201312.0
1                   2.0                  6           920115504    201312.0
2                   2.0                  6           921761906    201312.0
3                   2.0                  6           920165178    201412.0
4                   2.0                  6           920071852    201312.0
...                 ...                ...                 ...         ...
33067              56.0                  5           836007540         NaN
33068              56.0                  5           237368629    201404.0
33069              56.0                  5           830318392    201312.0
33070              56.0                  5           830295570    201309.0
33071              56.0                  5           830249072    201312.0

          Income    Revenue
0       602912.0   550236.0
1      1379576.0  1323742.0
2       740030.0   729080.0
3            0.0        0.0
4       602912.0   550236.0
...          ...        ...
33067        NaN        NaN
33068        0.0        0.0
33069   208508.0    83981.0
33070        0.0        0.0
33071   127496.0   126762.0

[33072 rows x 25 columns]>

In [24]:
#Null displayed
pd.DataFrame(
    museum_df.isnull().sum(),
    columns=['Missing Values']
)

                                          Missing Values
Museum ID                                              0
Museum Name                                            0
Legal Name                                             0
Alternate Name                                     31145
Museum Type                                            0
Institution Name                                   30323
Street Address (Administrative Location)              10
City (Administrative Location)                         0
State (Administrative Location)                        0
Zip Code (Administrative Location)                     0
Street Address (Physical Location)                 23856
City (Physical Location)                           23849
State (Physical Location)                          23849
Zip Code (Physical Location)                       23851
Phone Number                                       10140
Latitude                                              65
Longitude                                             65
Locale Code (NCES)                                    77
County Code (FIPS)                                  2536
State Code (FIPS)                                      1
Region Code (AAM)                                      0
Employer ID Number                                  5518
Tax Period                                          9792
Income                                             10111
Revenue                                            10782

In [18]:
#null values
museum_df.isnull

<bound method DataFrame.isnull of         Museum ID                                        Museum Name  \
0      8400200098                    ALASKA AVIATION HERITAGE MUSEUM
1      8400200117                            ALASKA BOTANICAL GARDEN
2      8400200153  ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...
3      8400200143                ALASKA EDUCATORS HISTORICAL SOCIETY
4      8400200027                             ALASKA HERITAGE MUSEUM
...           ...                                                ...
33067  8405600184                   WYOMING STATE HISTORICAL SOCIETY
33068  8405600061                               WYOMING STATE MUSEUM
33069  8405600158      WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION
33070  8405600137                      WYOMING TRANSPORTATION MUSEUM
33071  8405600199                          YELLOWSTONE NATIONAL PARK

                                              Legal Name Alternate Name  \
0                        ALASKA AVIATION HERITAGE MUSEUM            NaN
1                            ALASKA BOTANICAL GARDEN INC            NaN
2      ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...            NaN
3                    ALASKA EDUCATORS HISTORICAL SOCIETY            NaN
4                        ALASKA AVIATION HERITAGE MUSEUM            NaN
...                                                  ...            ...
33067                   WYOMING STATE HISTORICAL SOCIETY            NaN
33068                WYOMING STATE MUSEUM VOLUNTEERS INC            NaN
33069  WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION INC            NaN
33070                 WYOMING TRANSPORTATION MUSEUM CORP            NaN
33071                  LITTLE PEOPLE LEARNING CENTER INC            NaN

                                         Museum Type Institution Name  \
0                                     HISTORY MUSEUM              NaN
1      ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER              NaN
2         SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM              NaN
3                              HISTORIC PRESERVATION              NaN
4                                     HISTORY MUSEUM              NaN
...                                              ...              ...
33067                          HISTORIC PRESERVATION              NaN
33068                                 GENERAL MUSEUM              NaN
33069                          HISTORIC PRESERVATION              NaN
33070                                 HISTORY MUSEUM              NaN
33071                          HISTORIC PRESERVATION              NaN

      Street Address (Administrative Location) City (Administrative Location)  \
0                             4721 AIRCRAFT DR                      ANCHORAGE
1                    4601 CAMPBELL AIRSTRIP RD                      ANCHORAGE
2                          9711 KENAI SPUR HWY                          KENAI
3                             214 BIRCH STREET                          KENAI
4                   301 W NORTHERN LIGHTS BLVD                      ANCHORAGE
...                                        ...                            ...
33067                                PO BOX 73                       SHERIDAN
33068                      2301 CENTRAL AVENUE                       CHEYENNE
33069                   1273 N 15TH ST STE 121                        LARAMIE
33070                               PO BOX 704                       CHEYENNE
33071                    NATIONAL PARK SERVICE      YELLOWSTONE NATIONAL PARK

      State (Administrative Location) Zip Code (Administrative Location)  ...  \
0                                  AK                              99502  ...
1                                  AK                              99507  ...
2                                  AK                              99611  ...
3                                  AK                              99611  ...
4                                  AK                              99503  ...
...                               ...                                ...  ...
33067                              WY                              82801  ...
33068                              WY                              82001  ...
33069                              WY                              82072  ...
33070                              WY                              82003  ...
33071                              WY                              82190  ...

       Latitude  Longitude Locale Code (NCES)  County Code (FIPS)  \
0      61.17925 -149.97254                1.0                20.0
1      61.16890 -149.76708                4.0                20.0
2      60.56149 -151.21598                3.0               122.0
3      60.56280 -151.26597                3.0               122.0
4      61.17925 -149.97254                1.0                20.0
...         ...        ...                ...                 ...
33067  44.82345 -106.87592                4.0                33.0
33068  41.13941 -104.81813                1.0                21.0
33069  41.32276 -105.57686                3.0                 1.0
33070  41.13010 -104.81916                1.0                21.0
33071  44.91303 -110.41584                4.0                29.0

      State Code (FIPS)  Region Code (AAM)  Employer ID Number  Tax Period  \
0                   2.0                  6           920071852    201312.0
1                   2.0                  6           920115504    201312.0
2                   2.0                  6           921761906    201312.0
3                   2.0                  6           920165178    201412.0
4                   2.0                  6           920071852    201312.0
...                 ...                ...                 ...         ...
33067              56.0                  5           836007540         NaN
33068              56.0                  5           237368629    201404.0
33069              56.0                  5           830318392    201312.0
33070              56.0                  5           830295570    201309.0
33071              56.0                  5           830249072    201312.0

          Income    Revenue
0       602912.0   550236.0
1      1379576.0  1323742.0
2       740030.0   729080.0
3            0.0        0.0
4       602912.0   550236.0
...          ...        ...
33067        NaN        NaN
33068        0.0        0.0
33069   208508.0    83981.0
33070        0.0        0.0
33071   127496.0   126762.0

[33072 rows x 25 columns]>

In [22]:
#Null values within revenue field
museum_df.loc[(museum_df['Revenue'].isnull())]

,Museum ID,Museum Name,Legal Name,Alternate Name,Museum Type,Institution Name,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
5,8400200096,ALASKA HISTORICAL MUSEUM,ALASKA HISTORICAL MUSEUM INC,NaN,HISTORIC PRESERVATION,NaN,1675 E 5TH AVE,ANCHORAGE,AK,99501,...,61.21785,-149.85049,1.0,20.0,2.0,6,920062352,NaN,NaN,NaN
10,8400200131,ALASKA NATIONAL GUARD HISTORICAL HOLDING-MUSEUM,ALASKA NATIONAL GUARD HISTORICAL HOLDING-MUSEU...,NaN,HISTORIC PRESERVATION,NaN,PO BPX 5800,FORT RICHARDSON,AK,99505,...,61.25315,-149.68711,1.0,NaN,2.0,6,920141774,NaN,NaN,NaN
12,8409500006,ALASKA SEALIFE CENTER,ALASKA SEALIFE CENTER,NaN,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,301 RAILWAY AVENUE - PO BOX 1329,SEWARD,AK,99664,...,60.20885,-149.38716,4.0,122.0,2.0,6,NaN,NaN,NaN,NaN
20,8400200025,ALASKALAND PIONEER AIR MUSEUM,ALASKALAND PIONEER AIR MUSEUM,NaN,GENERAL MUSEUM,NaN,AIRPORT WAY,FAIRBANKS,AK,99707,...,64.84231,-147.72457,1.0,90.0,2.0,6,NaN,NaN,NaN,NaN
24,8400200024,AMERICAN TROPHY TAXIDERMY,AMERICAN TROPHY TAXIDERMY,NaN,GENERAL MUSEUM,NaN,41653 STERLING HWY,SOLDOTNA,AK,99669,...,60.50184,-150.98965,4.0,122.0,2.0,6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33062,8409400781,WYOMING NATIONAL GUARD MUSEUM,WYOMING NATIONAL GUARD MUSEUM,NaN,GENERAL MUSEUM,NaN,624 EAST PERSHING BLVD,CHEYENNE,WY,82001,...,41.14606,-104.81511,4.0,21.0,56.0,5,NaN,NaN,NaN,NaN
33064,8405600060,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 29,THERMOPOLIS,WY,82443,...,43.65576,-108.23115,4.0,17.0,56.0,5,237366337,NaN,NaN,NaN
33065,8405600098,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 1212,AFTON,WY,83110,...,42.05345,-104.95313,3.0,31.0,56.0,5,742505673,NaN,NaN,NaN
33066,8405600179,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 247,WHEATLAND,WY,82201,...,42.05345,-104.95313,3.0,31.0,56.0,5,836002697,NaN,NaN,NaN
33067,8405600184,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 73,SHERIDAN,WY,82801,...,44.82345,-106.87592,4.0,33.0,56.0,5,836007540,NaN,NaN,NaN

In [23]:
#Columns
for col in museum_df.columns:
    print(col)

Museum ID
Museum Name
Legal Name
Alternate Name
Museum Type
Institution Name
Street Address (Administrative Location)
City (Administrative Location)
State (Administrative Location)
Zip Code (Administrative Location)
Street Address (Physical Location)
City (Physical Location)
State (Physical Location)
Zip Code (Physical Location)
Phone Number
Latitude
Longitude
Locale Code (NCES)
County Code (FIPS)
State Code (FIPS)
Region Code (AAM)
Employer ID Number
Tax Period
Income
Revenue